.DS_Store
.terraform/**
/**/.terraform
.terraform.lock.hcl
override.tf
override.tf.json
*_override.tf
*_override.tf.json


# Local .terraform directories and files
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
.dccache
